# This is Git's per-user configuration file.
[user]
  name = {{ git_user }}
	email = {{ git_email }}
[color]
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore
[init]
	defaultBranch = master
[alias]
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
