Port {{ ssh_port }}
ClientAliveInterval 240
ClientAliveCountMax 5
PasswordAuthentication no
PermitRootLogin no
UseDNS no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
GSSAPIAuthentication no
X11Forwarding no
